<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  
</head>
<body>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    <li>
      {{messages}}
    </li>
  </ul>
  {% endif %}
  {% endwith %}
  

  

  <div id="container">
    <div class="paro">
      <button id="stop">Alto</button>
    </div>

    <div class="video">
      <img id="video" src="https://img.directindustry.es/images_di/photo-mg/223464-15805788.jpg">
      <div style="color: white;" id="resultado"></div>
    </div>
    
<div class="cont">
  <label class="switch">
      <input type="checkbox" id="check1" onclick="cambiarImagenJS()">
      <span class="slider" ></span>
    </label> <br><br>
    
    <label class="switch">
      <input type="checkbox">
      <span class="slider"></span>
    </label> <br><br>

    <label class="switch">
      <input type="checkbox">
      <span class="slider"></span>
    </label> <br><br>

    <label class="switch">
      <input type="checkbox">
      <span class="slider"></span>
    </label><br><br>
  </div>
</div>
<script>

  function cambiarImagenJS(){
    var checkBox = document.getElementById("check1");
  // Get the output text

  // If the checkbox is checked, display the output text
  if (checkBox.checked == true){
    document.getElementById("video").src="{{url_for('video')}}";
  } else {
    document.getElementById("video").src="https://img.directindustry.es/images_di/photo-mg/223464-15805788.jpg";
  }
  }

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('dato', function(datos) {
      document.getElementById("resultado").innerHTML = "<p>"+datos+"</p>";
        console.log(datos);
    });
</script>
    
</body>
</html>
